extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jordan Hoover

        p.lead.text-light
          | Full Stack Developer.

        .portfolio-bio
          p
          | I've given shape to, created in, and fretted with applications on all sides of the web stack. Pythonista, Javascripter, Java enthusiast.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Python
          li Javascript
          li Django
          li Flask
          li AWS
          li Angular 
          li Vue
          li NodeJS
          li Postgres
          li CSS
        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.button.expanded(href='https://www.linkedin.com/in/jordanhoover/') LinkedIn
        a.button.expanded(href='https://github.com/jhoover4') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  